.filter-container {
  /* width: 80%; */
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
}

.filter {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: 2px solid var(--gray-color);
  cursor: pointer;
}
.filter:hover,
.active-filter {
  background-color: var(--gray-color);
}

@media screen and (max-width: 760px) {
  .filter-container {
    width: 100%;
    flex-wrap: wrap;
  }
}
