.modal-container {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;

  flex-direction: column;
}
.modal-playlists {
  width: 25rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--text-color);
}

.modal-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.modal-btns {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.playlist-list {
  display: flex;
  align-items: center;
  background-color: var(--off-white);
  color: black;
  margin: 0.7rem 0;
  border-radius: 5px;
}
.playlist-list p {
  padding: 0 1rem;
}

@media screen and (max-width: 760px) {
  .modal-playlists {
    width: 10rem;
  }
}
