header .navbar-container {
  background-color: var(--text-color);
}

header .nav-button,
.logo,
.menu-btn {
  padding: 0 1rem;
}
header .menu-btn {
  display: none;
}

@media screen and (max-width: 960px) {
  header .menu-btn {
    display: flex;
  }
}
