.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

@media screen and (max-width: 760px) {
  .components-div {
    margin-left: 0rem;
  }
  .video-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
