@import "react-slideshow-image/dist/styles.css";
.main-container {
  display: flex;
  margin-top: 1rem;
}
.components-div {
  margin-left: 16rem;
  flex: 1;
}

.m-tb-1 {
  margin: 1rem 0;
}

@media screen and (max-width: 760px) {
  .components-div {
    margin: 0 auto;
  }
}
